<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS},%level,[%file:%line],%msg%n" />
	<property name="CDR" value="%d{yyyyMMddHHmmss},%msg%n" />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/Resource</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/APIGateway.%d{yyyy-MM-dd}</fileNamePattern>
			<maxHistory>356</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>
	
	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-ROLLING" />
    </root>
</configuration>